fastapi==0.110.0
uvicorn[standard]==0.29.0
ollama

streamlit==1.32.0

semantic-kernel==1.5.0

sentence-transformers==2.5.1
faiss-cpu==1.8.0

pandas==2.2.3
numpy==1.26.4

matplotlib==3.8.3
plotly==5.18.0

sqlalchemy==2.0.29

apscheduler==3.10.4

python-multipart==0.0.9
pydantic==2.6.4
requests==2.31.0

tqdm==4.66.2
python-dotenv==1.0.1

pytesseract==0.3.10
pdfplumber==0.11.0
PyMuPDF==1.23.25